premios-campanha{

    table{

        th.qtd{
            text-align: center;
        }

        td.qtd{
            width: 80px;
            input{
                text-align: center;
            }
        }

        th.dt-sorteio{
            width: 140px;
            input{
                text-align: center;
            }
        }

        td.vl-liquido{
            width: 150px;
            text-align: right;
        }

        td.actions{
            width: 155px;
            padding-right: 5px;
            padding-top: 22px;

            a{
                margin-right: 10px;
                font-size: 1.2em;
            }

            a.disabled{
                color: gray;
                opacity: 0.5;
            }
        }

        input.right{
            text-align: right;
        }

    }

}