<a
    ng-show="navbarSearch.isEnabled()"
    class="nav-link"
    data-widget="navbar-search"
    href="#"
    role="button"
>
    <i class="fas fa-search"></i>
</a>

<div
    ng-show="navbarSearch.isEnabled()"
    class="navbar-search-block"
>
    <form class="form-inline">
        <div class="input-group input-group-sm">
            <input
                ng-model="search"
                ng-model-options="{updateOn:'blur'}"
                class="form-control form-control-navbar"
                type="search"
                placeholder="Procurar"
                aria-label="Procurar"
            >
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
                <button
                    ng-click="clear()"
                    class="btn btn-navbar"
                    type="button"
                    data-widget="navbar-search"
                >
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </form>
</div>