<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <meta name="description" content="A classic company or blog layout with a sidebar. Built with Pico CSS.">

    <title>
        Premios Fans ~ {{influencer.nomeExibicao}}
    </title>

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="/assets/pico/css/pico.min.css">
    <link rel="stylesheet" href="/assets/pico/bootstrap-grid/css/pico-bootstrap-grid.min.css">

    <link rel="stylesheet" href="/templates/default/custom.css?v=3">
</head>

<body>

    <div class="hero" data-theme="dark" style="background-image: url({{campanha.imagePrincipal}});">
        <nav class="container-fluid">
            <ul>
                <li>
                    <a href="./" class="contrast" onclick="event.preventDefault()">
                        <strong>Premios Fans</strong>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    {{influencer.nomeExibicao}}
                </li>
                <li>
                    <details role="list" dir="rtl">
                        <summary aria-haspopup="listbox" role="link" class="contrast">Examples</summary>
                        <ul role="listbox">
                            <li><a href="../preview/">Preview</a></li>
                            <li><a href="../preview-rtl/">Right-to-left</a></li>
                            <li><a href="../classless/">Class-less</a></li>
                            <li><a href="../basic-template/">Basic template</a></li>
                            <li><a href="../company/">Company</a></li>
                            <li><a href="../google-amp/">Google Amp</a></li>
                            <li><a href="../sign-in/">Sign in</a></li>
                            <li><a href="../bootstrap-grid/">Bootstrap grid</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </nav>
        <header class="container">
            <p>
                <a href="#" role="button" onclick="event.preventDefault()">
                    Quero Participar!
                </a>
            </p>
        </header>
    </div>

    <main class="container">
        <section>
            <hgroup>
                <h2>{{campanha.titulo}}</h2>
                {{#if campanha.subTitulo}}
                <h3>{{campanha.subTitulo}}</h3>
                {{/if}}
            </hgroup>
            {{#if campanha.detalhes}}
            <p>{{campanha.detalhes}}</p>
            {{/if}}
        </section>

        <div class="row row-example">
            {{#each campanha.cotas}}
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="col-example">
                        <article class="pt-20 pb-20">
                            <a href="#" aria-label="Example" onclick="event.preventDefault()">
                                <h2 class="mb-10">1 Cota</h2>
                                <p>Duvido tú ganhar, mas pode ser que dê sorte! 🥹</p>
                                <footer>
                                    <h3 class="mb-5">R$ 2,00</h3>
                                </footer>
                            </a>
                        </article>
                    </div>
                </div>
            {{/each}}
        </div>


        <section>
            <div class="grid">
                <div>
                    <h2>Cota</h2>
                </div>
                <div>
                    <h2>Cota</h2>
                </div>
                <div>
                    <h2>Cota</h2>
                </div>
                <div>
                    <h2>Cota</h2>
                </div>
                <div>
                    <h2>Cota</h2>
                </div>
            </div>
        </section>

        <section>
            <div class="grid">
                <div><a href="#" aria-label="Example" onclick="event.preventDefault()">
                        <img src="/assets/imgs/maarten-deckers-T5nXYXCf50I-unsplash-1500x750.jpg" alt="Architecture" />
                        <footer>
                            <p>
                                <a href="#" onclick="event.preventDefault()">Donec sit amet</a><br>
                                <small>Class aptent taciti sociosqu ad litora torquent per conubia nostra</small>
                            </p>
                        </footer>
                    </a></div>
                <div><a href="#" aria-label="Example" onclick="event.preventDefault()">
                        <img src="/assets/imgs/maarten-deckers-T5nXYXCf50I-unsplash-1500x750.jpg" alt="Architecture" />
                        <footer>
                            <p>
                                <a href="#" onclick="event.preventDefault()">Donec sit amet</a><br>
                                <small>Class aptent taciti sociosqu ad litora torquent per conubia nostra</small>
                            </p>
                        </footer>
                    </a></div>
                <div><a href="#" aria-label="Example" onclick="event.preventDefault()">
                        <img src="/assets/imgs/maarten-deckers-T5nXYXCf50I-unsplash-1500x750.jpg" alt="Architecture" />
                        <footer>
                            <p>
                                <a href="#" onclick="event.preventDefault()">Donec sit amet</a><br>
                                <small>Class aptent taciti sociosqu ad litora torquent per conubia nostra</small>
                            </p>
                        </footer>
                    </a></div>
            </div>
        </section>


        <section>
            <div class="grid">
                <div>
                    <article>
                        <a href="#" aria-label="Example" onclick="event.preventDefault()">
                            <img src="/assets/imgs/maarten-deckers-T5nXYXCf50I-unsplash-1500x750.jpg"
                                alt="Architecture" />
                            <footer>
                                <p>
                                    <a href="#" onclick="event.preventDefault()">Donec sit amet</a><br>
                                    <small>Class aptent taciti sociosqu ad litora torquent per conubia nostra</small>
                                </p>
                            </footer>
                        </a>
                    </article>
                </div>
                <div>
                    <article>
                        <a href="#" aria-label="Example" onclick="event.preventDefault()">
                            <img src="/assets/imgs/maarten-deckers-T5nXYXCf50I-unsplash-1500x750.jpg"
                                alt="Architecture" />
                            <footer>
                                <p>
                                    <a href="#" onclick="event.preventDefault()">Donec sit amet</a><br>
                                    <small>Class aptent taciti sociosqu ad litora torquent per conubia nostra</small>
                                </p>
                            </footer>
                        </a>
                    </article>
                </div>
                <div>
                    <article>
                        <a href="#" aria-label="Example" onclick="event.preventDefault()">
                            <img src="/assets/imgs/maarten-deckers-T5nXYXCf50I-unsplash-1500x750.jpg"
                                alt="Architecture" />
                            <footer>
                                <p>
                                    <a href="#" onclick="event.preventDefault()">Donec sit amet</a><br>
                                    <small>Class aptent taciti sociosqu ad litora torquent per conubia nostra</small>
                                </p>
                            </footer>
                        </a>
                    </article>
                </div>
                <div>
                    <article>
                        <a href="#" aria-label="Example" onclick="event.preventDefault()">
                            <img src="/assets/imgs/maarten-deckers-T5nXYXCf50I-unsplash-1500x750.jpg"
                                alt="Architecture" />
                            <footer>
                                <p>
                                    <a href="#" onclick="event.preventDefault()">Donec sit amet</a><br>
                                    <small>Class aptent taciti sociosqu ad litora torquent per conubia nostra</small>
                                </p>
                            </footer>
                        </a>
                    </article>
                </div>
                <div>
                    <article>
                        <a href="#" aria-label="Example" onclick="event.preventDefault()">
                            <img src="/assets/imgs/maarten-deckers-T5nXYXCf50I-unsplash-1500x750.jpg"
                                alt="Architecture" />
                            <footer>
                                <p>
                                    <a href="#" onclick="event.preventDefault()">Donec sit amet</a><br>
                                    <small>Class aptent taciti sociosqu ad litora torquent per conubia nostra</small>
                                </p>
                            </footer>
                        </a>
                    </article>
                </div>
            </div>
        </section>

    </main>



    <!-- Subscribe -->
    <section aria-label="Subscribe example">
        <div class="container">
            <article>
                <hgroup>
                    <h2>Subscribe</h2>
                    <h3>Litora torquent per conubia nostra</h3>
                </hgroup>
                <form class="grid">
                    <input type="text" id="firstname" name="firstname" placeholder="First name" aria-label="First name"
                        required>
                    <input type="email" id="email" name="email" placeholder="Email address" aria-label="Email address"
                        required>
                    <button type="submit" onclick="event.preventDefault()">Subscribe</button>
                </form>
            </article>
        </div>
    </section><!-- ./ Subscribe -->

    <!-- Footer -->
    <footer class="container">
        <small>Built with <a href="https://picocss.com">Pico</a> • <a
                href="https://github.com/picocss/examples/tree/master/company/">Source code</a></small>
    </footer><!-- ./ Footer -->

    <!-- Minimal theme switcher -->
    <script src="/assets/pico/minimal-theme-switcher.js"></script>

</body>

</html>