<div
    ng-if="ready && !noneMode()"
    class="page-title d-flex {{pageTitleClass()}}"
    style="padding-right: 5px;"
>

    <div class="pt-1" ng-if="lightMode()">
        <div class="page-title d-flex p-0">
            <div class="align-self-center">
                <a href="javascript:history.back()" class="me-3 ms-0 icon icon-xxs bg-theme rounded-s shadow-m">
                    <i class="bi bi-chevron-left color-theme font-14"></i>
                </a>
            </div>
            <div class="align-self-center me-auto">
                <h1 class="color-white mb-0 font-18" ng-bind="titulo()">
                </h1>
            </div>
        </div>
    </div>

    <div
        class="align-self-center me-auto"
        ng-if="fullMode() || loginMode()"
    >
        <p
            ng-if="!currentUser || currentUser.isAnonymous || !currentUser.customData.accountSubmitted"
            class="color-highlight color-white"
        >
            Influencers
        </p>
        <h1 class="color-white">
            Premios Fans
        </h1>
        <p
            ng-if="currentUser"
            class="color-highlight color-white mt-1"
            ng-bind="nome()"
        >
        </p>
    </div>

    <div class="align-self-center ms-auto" ng-if="fullMode()">

        <a
            href="#!/conteudo/ajuda"
            ng-if="!!currentUser && !currentUser.isAnonymous && currentUser.customData.accountSubmitted"
            class="icon color-white m-0"
        >
            <i class="bi bi-question-circle opacity-80 font-22"></i>
        </a>
        
        <a
            ng-if="!!currentUser && !currentUser.isAnonymous && currentUser.customData.accountSubmitted"
            data-bs-toggle="offcanvas"
            data-bs-target="#menu-notifications"
            class="icon m-0 color-white"
        >
            <i class="bi bi-bell-fill opacity-80 font-17"></i>
            <em class="badge bg-red-dark color-white scale-box">4</em>
        </a>

        <a
            data-bs-toggle="offcanvas"
            data-bs-target="#menu-sidebar"
            class="icon m-0"
        >
            <i class="bi bi-three-dots-vertical color-white font-25"></i>
        </a>

        <!-- Page Title Dropdown Menu
        <div class="dropdown-menu">
            <div class="card card-style shadow-m mt-1 me-1">
                <div class="list-group list-custom list-group-s list-group-flush rounded-xs px-3 py-1">
                    <a href="page-wallet.html" class="list-group-item">
                        <i class="has-bg gradient-green shadow-bg shadow-bg-xs color-white rounded-xs bi bi-credit-card"></i>
                        <strong class="font-13">Wallet</strong>
                    </a>
                    <a href="page-activity.html" class="list-group-item">
                        <i class="has-bg gradient-blue shadow-bg shadow-bg-xs color-white rounded-xs bi bi-graph-up"></i>
                        <strong class="font-13">Activity</strong>
                    </a>
                    <a href="page-profile.html" class="list-group-item">
                        <i class="has-bg gradient-yellow shadow-bg shadow-bg-xs color-white rounded-xs bi bi-person-circle"></i>
                        <strong class="font-13">Account</strong>
                    </a>
                    <a href="page-signin-1.html" class="list-group-item">
                        <i class="has-bg gradient-red shadow-bg shadow-bg-xs color-white rounded-xs bi bi-power"></i>
                        <strong class="font-13">Log Out</strong>
                    </a>
                </div>
            </div>
        </div>
        -->
        
    </div>

</div>