<section class="content titulos-compras">

    <search-filter filter="filter"></search-filter>

    <wait-overlay 
        ready="collectionTitulosCompras.collection.isReady()"
        class="container-fluid"
    >
        <div class="row">

            <div ng-if="collectionTitulosCompras.collection.isEmpty()" class="col-12">
                <div class="callout callout-warning">
                    <h5>Nenhuma venda encontrado...</h5>
                </div>
            </div>

            <div class="col-12" ng-if="collectionTitulosCompras.collection.data.length">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th class="id monospace">ID</th>
                                    <th class="campanha" ng-if="!idCampanha">Campanha</th>
                                    <th class="email">eMail</th>
                                    <th class="erro center">Validação</th>
                                    <th class="situacao center">Situação</th>
                                    <th class="qtd center">Títulos</th>
                                    <th class="qtd-premios center">Prêmios</th>
                                    <th class="numeros-gerados center">Nºs</th>
                                    <th class="dt-inclusao right">Inclusao</th>
                                    <th class="actions right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="c in collectionTitulosCompras.collection.data | orderBy: '-dtInclusao_js'">
                                    <td class="id">
                                        <small class="monospace">
                                            {{c.id}}
                                        </small>
                                    </td>
                                    <td ng-if="!idCampanha" class="campanha">
                                        {{c.campanhaNome}}
                                    </td>

                                    <td class="nome">
                                        {{c.email}}
                                    </td>
                                    <td class="erro center">
                                        <small
                                            ng-if="c.errosDtCheck"
                                            ng-click="showErrors(c)"
                                            class="badge cursor-pointer"
                                            ng-class="{
                                                'badge-danger':c.errorsExists,
                                                'badge-success':!c.errorsExists
                                            }"
                                        >
                                            <span ng-if="c.errorsExists">
                                                {{c.errorsQtd}}
                                                Erros
                                            </span>
                                            <span ng-if="!c.errorsExists">Ok</span>
                                        </small>
                                    </td>
                                    <td class="situacao center">
                                        <span ng-if="c.situacao === 'aguardando-pagamento'" class="badge bg-warning">Pedido</span>
                                        <span ng-if="c.situacao === 'pago'" class="badge bg-success">Pago</span>
                                    </td>
                                    <td class="qtd center">
                                        {{c.qtdTitulosCompra}}
                                    </td>
                                    <td class="qtd-premios center">
                                        {{c.qtdPremios}}
                                    </td>
                                    <td class="numeros-gerados center">
                                        <span ng-if="c.qtdTotalProcessos===c.qtdTotalProcessosConcluidos">
                                            {{c.qtdNumerosGerados}}
                                        </span>

                                        <small ng-if="c.qtdTotalProcessos!==c.qtdTotalProcessosConcluidos">
                                            {{percent(c.qtdTotalProcessos,c.qtdTotalProcessosConcluidos)}}
                                        </small>
                                    </td>
                                    <td class="dt-inclusao right">
                                        {{c.dtInclusao_timestamp | ddmmhhmm}}
                                    </td>
                                    <td class="actions right">
                                        <a  ng-if="c.situacao === 'aguardando-pagamento'"
                                            class="btn btn-default btn-xs"
                                            ng-click="pagar(c)">Pagar</a>
                                        <a  ng-if="c.situacao === 'pago'"
                                            class="btn btn-default btn-xs"
                                            ng-click="verificar(c)">Verificar</a>
                                        <a  ng-if="c.situacao === 'pago'"
                                            class="btn btn-default btn-xs"
                                            ng-href="#!/titulos-premios/idTituloCompra/{{c.id}}">Prêmios</a>
                                    </td>
                                </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </wait-overlay>
</section>