<section class="content titulos-compras">

    <search-filter filter="filter"></search-filter>

    <wait-overlay 
        ready="collectionTitulosCompras.collection.isReady()"
        class="container-fluid"
    >
        <div class="row">

            <div ng-if="collectionTitulosCompras.collection.isEmpty()" class="col-12">
                <div class="callout callout-warning">
                    <h5>Nenhuma venda encontrado...</h5>
                </div>
            </div>

            <div class="col-12" ng-if="collectionTitulosCompras.collection.data.length">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th class="id monospace">ID</th>
                                    <th class="campanha">Campanha</th>
                                    <th class="qtd center">Títulos</th>
                                    <th class="nome">Cliente</th>
                                    <th class="erro center">Validação</th>
                                    <th class="situacao">Situação</th>
                                    <th class="dt-inclusao right">Dt.Inclusao</th>
                                    <th class="actions right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="c in collectionTitulosCompras.collection.data | orderBy: '-dtInclusao_js'">
                                    <td class="id">
                                        <small class="monospace">
                                            {{c.id}}
                                        </small>
                                    </td>
                                    <td class="campanha">
                                        {{c.campanhaNome}}
                                    </td>
                                    <td class="qtd center">
                                        {{c.qtdTitulosCompra}}
                                    </td>
                                    <td class="nome">
                                        {{c.nome}}
                                    </td>
                                    <td class="erro center">
                                        <small
                                            ng-if="c.errosDtCheck"
                                            ng-click="showErrors(c)"
                                            class="badge cursor-pointer"
                                            ng-class="{
                                                'badge-danger':c.errorsExists,
                                                'badge-success':!c.errorsExists
                                            }"
                                        >
                                            <span ng-if="c.errorsExists">
                                                {{c.errorsQtd}}
                                                Erros
                                            </span>
                                            <span ng-if="!c.errorsExists">Ok</span>
                                        </small>
                                    </td>
                                    <td class="situacao">
                                        {{c.situacao}}
                                    </td>
                                    <td class="dt-inclusao right">
                                        {{c.dtInclusao_timestamp | ddmmyyyyhhmmss}}
                                    </td>
                                    <td class="actions right">
                                        <a  ng-if="c.situacao === 'aguardando-pagamento'"
                                            class="btn btn-default btn-xs"
                                            ng-click="pagar(c)"
                                        >Pagar</a>
                                    </td>
                                </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </wait-overlay>
</section>