<section class="content campanhas">

    <search-filter filter="filter"></search-filter>

    <wait-overlay ready="collectionCampanhas.collection.isReady()" class="container-fluid">
        <div class="row">

            <div ng-if="collectionCampanhas.collection.isEmpty()" class="col-12">
                <div class="callout callout-warning">
                    <h5>Nenhum contrato encontrado...</h5>
                </div>
            </div>

            <div class="col-12" ng-if="collectionCampanhas.collection.data.length">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th class="id">ID Campanha</th>
                                    <th class="titulo">Título</th>
                                    <th class="template">Template</th>
                                    <th class="ativa center">Ativa?</th>
                                    <th class="pronta center">Pronta?</th>
                                    <th class="actions right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="c in collectionCampanhas.collection.data | orderBy:'dtInclusao_js_desc'">
                                    <td class="id">
                                        <a ng-href="#!/campanhas-edit/{{c.id}}">
                                            <strong class="monospace">
                                                {{c.id}}
                                            </strong>
                                        </a>
                                    </td>
                                    <td class="titulo">
                                        {{c.titulo}}
                                    </td>
                                    <td class="template">
                                        {{c.template}}
                                    </td>
                                    <td class="ativa center">
                                        <badge-true-false value="c.ativo"></badge-true-false>
                                    </td>
                                    <td class="pronta center">
                                        <badge-true-false value="c.ativo && c.qtdPremios===c.qtdPremiosNumerosDaSorteGerados"></badge-true-false>
                                    </td>
                                    <td class="actions right">
                                        <a class="btn btn-default btn-xs" ng-href="#!/titulos-compras/{{c.id}}">Compras</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </wait-overlay>
</section>