<!--
<div
    id="footer-bar"
    ng-if="showMode()"
    class="footer-bar-1 footer-bar-detached"
>
-->
<div
    id="footer-bar"
    ng-if="showMode()"
    class="footer-bar-1 shadow-m"
>
    <a href="#!/conteudo/user-salarios">
        <i class="bi bi-currency-dollar"></i>
        <span>Salário</span>
    </a>

    <a href="#!/conteudo/user-pix">
        <i class="bi bi-x-diamond-fill"></i>
        <span>PIX</span>
    </a>
    
    <a href="#!/index-user" class="active-nav">
        <i class="bi bi-house-fill"></i>
        <span>Home</span>
    </a>
    
    <a href="#!/conteudo/user-extrato">
        <i class="bi bi-card-checklist"></i>
        <span>Extrato</span>
    </a>
    
    <a data-bs-toggle="offcanvas" data-bs-target="#menu-sidebar">
        <i class="bi bi-three-dots"></i>
        <span>Mais</span>
    </a>
</div>