[data-theme="light"],
:root:not([data-theme="dark"]) {
    --spacing-company: 16rem;
    --font-weight: 400;
    --border-radius: 0;

    --color: white;
    --muted-color: white;
    --background-color: transparent;

    --h1-color: white;
    --h2-color: white;
    --h3-color: white;
}

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

div.panel{
    height: 462px;
    overflow: hidden;
    position: relative;
}

div.panel::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #003a68;
    background-image: url("/templates/venda-with-messaging/panel-background.png");
    background-position: center;
    background-size: cover;
    filter: brightness(0.75); 
    z-index: -1;
}

[role=button]:is([aria-current],:hover,:active,:focus), button:is([aria-current],:hover,:active,:focus), input[type=button]:is([aria-current],:hover,:active,:focus), input[type=reset]:is([aria-current],:hover,:active,:focus), input[type=submit]:is([aria-current],:hover,:active,:focus) {
    --background-color: #EFC832;
    --border-color: initial;
    --box-shadow: initial;
    --color: #003a68;
}

.color-dark, .color-dark *{
    color: #003a68 !important;
}

.color-white, .color-white *{
    color: white;
}

.background-light-blue{
    background-color: #1EA1D7;
}

div.panel .container{
    padding: 0 0 0 25px;
    margin-top: 10px;
}

div.panel .container a.action{
    padding: 2px 15px;
    background: #EFC832;
    border-radius: 15px;
    font-size: 1.1em;
    margin-top: 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

div.panel .container a.action .strong{
    font-size: 1.1em;
}

.background-default-color{
    background: rgb(0,127,185);
    background: linear-gradient(58deg, rgba(0,127,185,1) 0%, rgba(0,159,214,1) 20%, rgba(0,104,166,1) 60%);
}

div.panel .yellow{
    color: #EFC832;
}

div.panel img.capa{
    position: absolute;
    bottom: -8px;
    right: -71px;
    width: 88%;
    max-width: 470px;
    pointer-events: none;
    min-width: 365px;
}

div.container.influencer{
    background: #003a68;
}

div.panel h1,
div.panel h2,
div.panel h3,
div.panel p{
    color: white;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

div.panel .subtitle{
    text-align: left;
    line-height: 1.2em;
    z-index: 1;
    position: relative;
}

div.panel .title-1{
    text-align: left;
    line-height: 1.2em;
    position: relative;
    z-index: 1;
}

div.panel .title-2{
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.2em;
}

div.panel .title-3{
    font-size: 3em;
    line-height: 1em;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 10px;
}
div.panel .title-4{
    font-size: 1.6em;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1em;
}

div.panel p{
    font-size: 0.8em;
    font-weight: 500;
}

div.panel .subtitle-1{
    margin-top: 10px;
}
div.panel .subtitle-2{}
div.panel .subtitle-3{}
div.panel .subtitle-4{
    margin-top: 10px;
}
div.panel .subtitle-5{}
div.panel .subtitle-6{}


/*
@media (max-width: 576px) {
    div.panel h1,
    div.panel h2,
    div.panel h3,
    div.panel p{
        text-align: center;
    }
}
*/

/*
#top {
    background: rgb(0, 64, 125);
    background: linear-gradient(0deg, rgba(0, 64, 125, 1) 0%, rgba(1, 81, 154, 1) 38%, rgba(1, 81, 154, 1) 100%);
}
*/

div.container.faq{
    border-radius: 20px;
}

div.container.faq, div.container.faq *{
    background-color: white;
    color: black;
    border-radius: 20px;
}

details[open]>summary:not([role]):not(:focus) {
    color: black;
}

#top .logo {
    height: 40px;
    padding: 3px;
    margin: 2px;
}

#top .logo-text {
    height: 22px;
    margin-bottom: 5px;
}

#top .white {
    color: white;
}






details summary {
    line-height: 1.4rem;
}

details p{
    font-size: 0.9em;
}

section#rodape * {
    font-size: 0.8em;
    line-height: 1.1em;
    margin: 0;
}

a.link{
    cursor: pointer;
}

@media (max-width: 420px) {
    :root {
        --spacing-company: 10rem;
    }
}

@media (min-width: 768px) {
    #premios article {
        min-height: 200px;
    }
}

.pix-copia-cola{
    margin-bottom: 10px;
    font-size: 0.9em;
    border: 1px solid silver;
    padding: 5px 10px;
    background-color: lightgray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
}

.pix-qrcode{
    max-width: 180px;
    margin: 0 auto;
    display: block;
}

dialog#modal-regulamento .content * {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.3em;
}

dialog#modal-regulamento .content h1,
dialog#modal-regulamento .content h2,
dialog#modal-regulamento .content h3,
dialog#modal-regulamento .content h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.roller-counter {
    font-size: 1.4em;
    font-weight: bold;
    color: green;
    text-align: center;
    padding-top: 5px;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

#premios .sorteio {
    position: relative;
}

#premios .sorteio footer{
    font-size: 0.9em;
}

article.botao-compra{
    /* border: 2px solid silver; */
    border-radius: 20px; 
    background: white;
}

.full-width {
    width: 100%;
}


/* Typography */
h2,
h3,
hgroup> :last-child {
    font-weight: 500;
}

a.sugestao {
    text-decoration: none;
}

small {
    color: var(--muted-color);
}

/* Header */
.hero {
    background-color: #394046;
    background-position: center;
    background-size: cover;
}

h2.valor {
    position: relative;
    letter-spacing: -1px;
    font-weight: bold;
}

h2.valor small.currency {
    font-size: 0.4em;
    bottom: 1px;
    position: relative;
    left: 2px;
    font-weight: 300;
}

h2.valor small.cents {
    font-size: 0.45em;
    position: relative;
    font-weight: 400;
    top: -10px;
    right: -2px;
}

.hero header {
    position: relative;
}

.hero header p {
    position: absolute;
    bottom: 0;
}

.hero header p a {
    display: block;
}

@media (min-width: 575px) {
    .hero header p {
        display: block;
        width: 100%;
    }
}

.hero footer i.bi {
    color: white;
    font-size: 1.1rem;
    margin-right: 0.4rem;
    cursor: pointer;
}

#pagar-compra .close{
    cursor: pointer;
    position: absolute;
    right: 5px;
    height: 36px;
    width: 36px;
    top: 30px;
}

#pagar-compra .id-compra{
    font-family: monospace;
    font-size: 0.7em;
    text-align: center;
    display: block;
    width: 100%;
}

/* https://codepen.io/nxworld/pen/oLdoWb */

#premios .sugestao {
    position: relative;
}

#compra-rapida .col-compra-rapida {
    cursor: pointer;
}

#compra-rapida .col-compra-rapida.selected article {
    background-color: var(--switch-background-color);
}

.compras-cliente details.last{
    border-bottom: initial;
    margin-bottom: initial;
}

header {
    padding: var(--spacing-company) 0;
}

header hgroup> :last-child {
    color: var(--h3-color);
}

header hgroup {
    margin-bottom: var(--spacing-company);
}

/* Nav */
summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
    background-color: transparent;
    color: var(--contrast-hover);
}

/* Main */
@media (min-width: 992px) {
    main .grid {
        grid-column-gap: var(--spacing-company);
        grid-template-columns: auto 25%;
    }
}

form.grid {
    grid-row-gap: 0;
}

/* Aside nav */
aside img {
    margin-bottom: 0.25rem;
}

aside p {
    margin-bottom: var(--spacing-company);
    line-height: 1.25;
}

summary.hamburguer {
    padding: 5px 25px 0 10px!important;
}

summary.hamburguer:after {
    display: none !important;
}

summary.hamburguer i.bi {
    font-size: 2em;
}

.text-center {
    text-align: center;
}

.m-0 {
    margin: 0;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.p-0 {
    padding: 0;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}


.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.pt-0 {
    padding-top: 0;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-50 {
    padding-bottom: 50px;
}

.ribbon {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 230px;
    padding: 6px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    color: #fff;
    font: 600 15px/1.7 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
    text-align: center;
    padding-left: 31px;
}

.ribbon-top-left {
    top: -12px;
    left: -12px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}

.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}


[role=button],
button,
input[type=button],
input[type=reset],
input[type=submit] {
    color: #003a68;
    --background-color: #EFC832;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 24px;
}

.swal2-title {
    padding: 0.5em 1em 0 !important;
    line-height: 1.2em !important;
}

.card-influencer {
    position: relative;
    background: #003a68;
}

.card-influencer img{
    position: relative;
    border-radius: 50%;
    border: 3px solid #efc832;
    height: 72px;
    margin: 20px 10px;
}

.card-influencer div.left{
    position: absolute;
    top: 27px;
    left: 100px;
}