<section class="content influencers">

    <search-filter filter="filter"></search-filter>

    <wait-overlay ready="collectionEmpresas.collection.isReady()" class="container-fluid">
        <div class="row" ng-if="collectionEmpresas.collection.data.length">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th class="img"></th>
                                    <th class="nome">Nome</th>
                                    <th class="celular">Contato</th>
                                    <th class="ativa center">Ativo</th>
                                    <th class="id right">ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in collectionEmpresas.collection.data">

                                    <td class="img">
                                        <img ng-if="r.images && r.images.length" ng-src="{{r.images[0].secure_url}}" />
                                        <img ng-if="!r.images || r.images.length===0" src="/assets/imgs/user.png" />
                                    </td>

                                    <td class="nome">
                                        <a href="#" ng-click="edit(r)">
                                            <h5 class="mb-0">{{r.nome}}</h5>
                                            {{r.nomeExibicao}}
                                        </a>
                                    </td>

                                    <td class="email">
                                        {{r.email}}<br />
                                        {{r.celular_formatted}}
                                    </td>

                                    <td class="ativa center">
                                        <badge-true-false value="r.ativo"></badge-true-false>
                                    </td>

                                    <td class="id monospace right">
                                        <small>
                                            {{r.id}}
                                        </small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </wait-overlay>
</section>