.influencers{
    table{
        .nome-fantasia{
            img{
                height: 60px;
                border-radius: 4px;
            }
            span{
                vertical-align: top;
                padding-left: 5px;
            }
        }
    }
}