<div class="menu-size" style="width:230px;">

    <div class="pt-3">

        <div class="page-title sidebar-title d-flex">
            <div class="align-self-center me-auto">
                <p class="color-highlight">Parceiros</p>
                <h1>Premios Fans</h1>
            </div>

            <div class="align-self-center ms-auto">

                <a
                    href="#!/index-user/"
                    class="icon pt-1"
                >
                    <img src="/partners/assets/logos/filled-blue.svg" height="45" width="50" class="" alt="img">
                </a>

            </div>
        </div>

        <div class="divider divider-margins mb-3 opacity-50"></div>

        <div class="list-group list-custom list-menu-large">

            <a 
                ng-if="!isAccountValid()"
                href="#!/abertura-conta-swp-pf"
                class="list-group-item"
                close-canvas-on-click="menu-sidebar"
            >
                <i class="bi bg-blue-dark shadow-bg shadow-bg-xs bi-person-circle"></i>
                <div>Solicite sua Conta</div>
                <i class="bi bi-chevron-right"></i>
            </a>

        </div>

        <div  class="divider divider-margins opacity-50 mb-3"></div>

        <div class="list-group list-custom list-menu-small">
            
            <a
                href="#!/conteudo/sobre-o-zoepay"
                class="list-group-item default-link"
                close-canvas-on-click="menu-sidebar"
            >
                <i class="bi bi-info-circle opacity-20 font-16"></i>
                <div>Sobre o Premios Fans</div>
            </a>
            
        </div>

        <div class="divider divider-margins opacity-50 mb-3"></div>

        <div class="list-group list-custom list-menu-small">
                       
            <a
                ng-if="appAuthHelper.currentUser"
                ng-click="logout()"
                class="list-group-item default-link mb-2"
                close-canvas-on-click="menu-sidebar"
            >
                <i class="bi bi-box-arrow-right opacity-20 font-16"></i>
                <div>Sair</div>
            </a>

            <a
                ng-click="changeTheme()"
                class="list-group-item default-link"
                data-toggle-theme data-trigger-switch="switch-1"
            >
                <i class="bi bi-lightbulb-fill opacity-20 font-16"></i>
                <div>Modo escuro</div>
                <div class="form-switch ios-switch switch-green switch-s me-2">
                    <input id="theme-mode-switch" type="checkbox" data-toggle-theme class="ios-input" id="switch-theme" checked>
                    <label class="custom-control-label" for="switch-theme"></label>
                </div>
            </a>

        </div>

        <div class="divider divider-margins opacity-50"></div>

        <p class="px-3 font-9 opacity-30 color-theme mt-n3">
            Copyright <span class="copyright-year"></span>.
            Made with <i class="bi bi-heart-fill color-red-dark px-1"></i> by PremiosFans Team
        </p>
    </div>
</div>