<section class="content dashboard-rh">

	<search-filter></search-filter>

	<wait-overlay ready="true" class="container-fluid">

		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
						<dashboard-rh-block-funcionarios></dashboard-rh-block-funcionarios>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
						<dashboard-rh-block-pagamentos></dashboard-rh-block-pagamentos>
					</div>
				</div>
			</div>
		</section>

	</wait-overlay>
</section>