<section class="content m-0 profile-empresa">

	<div ng-if="ready" class="content mt-3">

		<div class="content">
			<h2 ng-if="type==='pj'" class="color-white">Abra a Conta da sua Empresa</h2>
			<h2 ng-if="type==='pf'" class="color-white">Abra a sua Conta</h2>
			<p  class="color-white">
				By accessing this web site, you are agreeing to be bound by these
				web site Terms and Conditions of Use, all applicable laws and regulations,
				and agree that you are responsible for compliance with any applicable local
				laws.
			</p>
		</div>

		<div ng-repeat="c in cards" class="card card-style {{colors[c.status].background}} {{c.status}} shadow-bg shadow-bg-s m-0 mb-2">
			<div class="content">
				<a
					ng-href="{{href(c)}}"
					class="d-flex"
					ng-class="{'disable-link':c.status==='todo'}"
				>
					<div class="align-self-center">
						<h1 ng-show="c.status!=='done'" class="{{colors[c.status].iconBackground}} mb-0 font-38">
							<i class="bi {{::c.icon}} {{colors[c.status].icon}} pe-3"></i>
						</h1>
						<h1 ng-show="c.status==='done'" class="{{colors[c.status].iconBackground}} done mb-0 font-38">
							<i class="bi bi-check-circle {{colors[c.status].icon}} pe-3"></i>
						</h1>
					</div>
					<div class="align-self-center">
						<h5 ng-bind="::c.label" class="{{colors[c.status].text}} font-700 mb-0 mt-0"></h5>
						<p ng-if="c.status!=='done'" class="{{colors[c.status].text}}" ng-bind="::c.info"></p>
						<p ng-if="c.status==='done'" class="{{colors[c.status].text}}" ng-bind="::c.infoDone"></p>
					</div>
				</a>
			</div>
		</div>

	</div>

</section>