<section class="content contas">

    <search-filter filter="filter"></search-filter>

    <wait-overlay ready="collectionContas.collection.isReady()" class="container-fluid">
        <div class="row">

            <div ng-if="collectionContas.collection.isEmpty()" class="col-12">
                <div class="callout callout-warning">
                    <h5>Nenhum contrato encontrado...</h5>
                </div>
            </div>

            <div class="col-12" ng-if="collectionContas.collection.data.length">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th class="id">ID Conta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="c in collectionContas.collection.data | orderBy:'dtInclusao_js_desc'">
                                    <td class="id">
                                        <a ng-href="#!/contas-edit/{{c.id}}">
                                            <strong class="monospace">
                                                {{c.id}}
                                            </strong>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </wait-overlay>
</section>