<section class="content contas">

	<search-filter></search-filter>

	<wait-overlay ready="user" class="container-fluid">
		<div class="row">

			<div class="col-12">
				<div class="card">
					<div class="card-body p-0">
						<table class="table table-striped projects">
							<thead>
								<tr>
									<th style="width: 35%">
										Detalhes
									</th>
									<th style="width: 15%">
										Tipo
									</th>
									<th class="right" style="width: 15%">
										Saldo
									</th>
									<th style="width: 35%">
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="c in collectionContas.collection.data">
									<td>
										{{c.nome | capitalize}}
										<br />
										<small class="mr-2 monospace">
											{{c.cpf_cnpj | cpfCnpj}}
										</small>
										<br>
										<strong class="monospace">
											{{c.conta}}
										</strong>
									</td>
									<td>
										<span ng-if="c.tipoPessoa==='PF'" class="badge bg-success">Pessoa Física</span>
										<span ng-if="c.tipoPessoa==='PJ'" class="badge bg-success">Pessoa Jurídica</span>
									</td>
									<td class="right">
										<moeda ng-if="c.balanceAtualizacao" valor="c.balance"></moeda>
									</td>
									<td class="project-actions text-right">
										<a class="btn btn-primary btn-sm mt-1" href="#">
											<i class="fas fa-qrcode"></i>
											<span class="hide-xs hide-sm">Emitir PIX Avulso</span>
										</a>
										<a
											ng-click="updateBalance(c.idEmpresa, c.idConta)"
											class="btn btn-info btn-sm mt-1"
											href="#"
										>
											<i class="fas fa-refresh"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</wait-overlay>
</section>