<div class="card lancamentos-contrato">

    <div class="card-header">
        <h3 class="card-title mt-1">
            <i class="{{titles.icon}} mr-1"></i>
            Lançamentos do Contrato
        </h3>
    </div>

    <div class="card-body p-3">

        <div class="row">

            <div class="col-md-12">

                <div class="timeline">

                    <div ng-repeat-start="d in data" class="time-label">
                        <span class="bg-blue">
                            {{d.mesAno}}<br />
                            <small class="valor">
                                {{d.valor | currency : "R$ " : 2}}
                            </small>
                        </span>
                    </div>

                    <div ng-repeat="l in d.lancamentos | orderBy:'pos'">
                        <i class="dia bg-blue" uib-popover="Contrato {{l.idContrato}}">
                            {{l.dtVencimento_dia}}
                        </i>
                        <div class="timeline-item">
                            <span class="time">
                                <strong class="valor mr-2">
                                    {{l.valor | currency : "R$ " : 2}}
                                </strong>

                                <span ng-if="l.situacao==='previsto'" class="badge badge-info situacao">
                                    Previsto
                                </span>

                                <span ng-if="l.situacao==='pendente'" class="badge badge-warning situacao">
                                    Pendente
                                </span>

                                <span ng-if="l.situacao==='atrasado'" class="badge badge-danger situacao">
                                    Em Atraso
                                </span>

                                <span ng-if="l.situacao==='pago'" class="badge badge-success situacao">
                                    Pago
                                </span>

                                <span uib-dropdown class="mb-2">
                                    <a href id="simple-dropdown" uib-dropdown-toggle>
                                    </a>
                                    <div class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                        <a href="#" class="dropdown-item">Action</a>
                                        <a href="#" class="dropdown-item">Another action</a>
                                        <a href="#" class="dropdown-item">
                                            <i class="fa fa-money" aria-hidden="true"></i>                                        
                                            Efetuar Pagamento Manual
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            Cancelar Lançamento
                                        </a>
                                    </div>
                                </span>

                            </span>

                            <h3 class="timeline-header no-border">

                                <a href="#">{{l.produtoNome}}</a>

                                <span class="badge badge-info" ng-if="l.parcela">
                                    <small>Parcela:</small>
                                    <span class="monospace">{{l.parcela}}</span>
                                </span>

                                <a ng-href="#!/contratos-edit/{{l.idContrato}}" ng-if="l.codigoContratoVersao !== contrato.codigoContratoVersao" class="badge badge-warning">
                                    <small>Contrato:</small>
                                    <span class="monospace">{{l.codigoContrato}}-{{l.codigoContratoVersao}}</span>
                                </a>

                            </h3>
                        </div>
                    </div>

                    <div ng-repeat-end></div>

                    <div>
                        <i class="fas fa-clock bg-gray"></i>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>