<nav class="influencers-campanha-list navbar navbar-expand navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
            <a ng-if="showAdd()" href="#" ng-click="add()" class="nav-link">
                <i class="fas fa-plus-circle"></i>
                Adicionar
            </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">
                <i class="fas fa-refresh"></i>
                Gerar Templates <small>(todos)</small>
            </a>
        </li>
    </ul>

    <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Procurar" aria-label="search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</nav>
<div class="influencers-campanha-list">
    <table class="table table-striped table-valign-middle mb-0" ng-if="list.length">
        <thead>
            <tr>
                <th class="img"></th>
                <th>Nome</th>
                <th>Contato</th>
                <th>Acessos</th>
                <th class="right">Comissão</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="influencer in list" ng-class="{disabled:!influencer.ativo}">
                <td class="img">
                    <img ng-if="influencer.images && influencer.images[0]" ng-src="{{influencer.images[0].secure_url}}"
                        alt="{{influencer.nome}}" class="img-circle img-size-64 mr-2">
                    <img ng-if="!influencer.images || !influencer.images[0]" src="/assets/imgs/user.png"
                        alt="{{influencer.nome}}" class="img-circle img-size-64 mr-2">
                </td>
                <td>
                    <span>{{influencer.nomeExibicao}}</span>
                    <br />
                    <span>{{influencer.nome}}</span>
                </td>
                <td>
                    <span>{{influencer.email}}</span><br />
                    <span>{{influencer.celular_formatted}}</span>
                </td>
                <td>
                    <small>Acessos</small>: <strong>0</strong><br />
                    <small>Vendas</small>: <strong>0</strong><br />
                </td>
                <td class="right">
                    <small>R$</small> <strong>0</strong><small>.00</small>
                </td>
                <td class="actions right">
                    <a ng-href="/{{influencer.idCampanha}}-{{influencer.idInfluencer}}" target="_blank" class="link" uib-popover="Abrir página">
                        <i class="fas fa-link"></i>
                    </a>
                    <a href="#" ng-click="edit(influencer)" class="link" uib-popover="Editar">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="#" 
                        ng-click="generateTemplateInfluencer(influencer)"
                        class="link"
                        ng-class="{disabled:!influencer.ativo}"
                        uib-popover="Gerar template do influencer"
                    >
                        <i class="fas fa-sync-alt"></i>
                    </a>
                    <a href="#" ng-click="enableDisable(influencer)" class="link" uib-popover="Habilitar/Desabilitar Influencer na Campanha">
                        <i ng-if="influencer.ativo"  class="far fa-check-square"></i>
                        <i ng-if="!influencer.ativo" class="far fa-square"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>