<div class="card influencers-campanha">
    <div class="card-header">
        <h3 class="card-title mt-1">
            Influencers da Campanha
        </h3>

        <div class="card-tools">
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item mr-1">
                    <button ng-click="addAll()" type="button" class="btn btn-block btn-primary btn-xs">
                        <i class="fas fa-plus mr-1"></i>
                        Adicionar Todos
                    </button>
                </li>
                <li class="nav-item">
                    <button ng-click="removeAll()" type="button" class="btn btn-block btn-primary btn-xs">
                        <i class="fas fa-minus mr-1"></i>
                        Remover Todos
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body p-3">
        <table class="table produtos-selector table-striped">
            <thead>
                <tr>
                    <th class="center" style="width:50px;"></th>
                    <th class="nome">Nome</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="influencers.length" ng-repeat="i in influencers">
                    <td class="center pt-4">
                        <div class="custom-control custom-checkbox pl-5">
                            <input class="custom-control-input" type="checkbox" id="select-empresa-{{i.idInfluencer}}"
                                ng-model="i.selected">
                            <label for="select-empresa-{{i.idInfluencer}}" class="custom-control-label"></label>
                        </div>
                    </td>

                    <td class="nome pt-3 pb-3">
                        <span class="form-control" style="background-color: #e9ecef;">
                            {{i.nome}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>