<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th class="center" style="width:50px;">
                <div class="custom-control custom-checkbox pl-5">
                    <input
                        id="influencer-campanha-select"
                        class="custom-control-input"
                        type="checkbox"
                        ng-checked="isAllSelected()"
                    >
                    <label
                        class="custom-control-label"
                        ng-click="selectAll()"
                        for="influencer-campanha-select"
                    ></label>
                </div>
            </th>
            <th class="nome pl-2">Nome</th>
            <th class="nome-exibicao pl-2">Nome Exibição</th>
            <th class="ativo center">Ativo</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="e in empresas.collection.data | orderBy : 'nomeExibicao'">
            <td class="center pt-3">
                <div class="custom-control custom-checkbox pl-5">
                    <input
                        id="influencer-campanha-{{e.id}}"
                        class="custom-control-input"
                        type="checkbox"
                        ng-checked="isSelected(e.id)"
                    >
                    <label
                        class="custom-control-label"
                        ng-click="select(e.id)"
                        for="influencer-campanha-{{e.id}}"
                    ></label>
                </div>
            </td>

            <td class="nome pt-2 pb-2">
                <span class="form-control" ng-click="select(e.id)">
                    {{e.nome}}
                </span>
            </td>

            <td class="nome pt-2 pb-2">
                <span class="form-control" ng-click="select(e.id)">
                    {{e.nomeExibicao}}
                </span>
            </td>

            <td class="ativo center pt-3">
                <badge-true-false value="e.ativo"></badge-true-false>
            </td>

        </tr>
    </tbody>
</table>
