.faq {
    table {
        .pergunta{
            width: 40%;
        }
        .resposta {
            width: 50%;
            word-break: break-word;
            white-space: pre-wrap;
            -moz-white-space: pre-wrap;
            p {
                margin-bottom: 0;
            }
        }
    }
}