<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        Contrato
    </h3>
</div>
<div class="modal-body cobranca" id="modal-body">
    <wait-overlay ready="$ctrl.ready">
        <form novalidate>

            <formly-form
                class="row"
                model="$ctrl.data"
                fields="$ctrl.forms.main.fields"
                form="$ctrl.forms.main.form"
                novalidate
            >
            </formly-form>

            <h5>Cobrança</h5>
            <formly-form
                class="row"
                model="$ctrl.data"
                fields="$ctrl.forms.cobranca.fields"
                form="$ctrl.forms.cobranca.form"
                novalidate
            >
            </formly-form>

            <h5>Valores</h5>
            <formly-form
                class="row"
                model="$ctrl.data"
                fields="$ctrl.forms.valores.fields"
                form="$ctrl.forms.valores.form"
                novalidate
            >
            </formly-form>

            <ul class="nav nav-tabs" id="tab-cliente" role="tablist">
                <li class="nav-item">
                    <a id="tab-content-detalhes-tab" data-bs-target="#tab-content-detalhes" aria-controls="tab-content-detalhes-tab" class="nav-link active" data-bs-toggle="tab" role="tab" aria-selected="true">
                        Detalhes
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="tab-cliente-content">

                <div class="tab-pane fade show active pt-2" id="tab-content-detalhes" role="tabpanel" aria-labelledby="tab-content-detalhes-tab">
                    <formly-form
                        class="row"
                        model="$ctrl.data"
                        fields="$ctrl.forms.detalhes.fields"
                        form="$ctrl.forms.detalhes.form"
                        novalidate
                    >
                    </formly-form>
                </div>

            </div>


        </form>
    </wait-overlay>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" ng-if="!$ctrl.error">Salvar</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
</div>