<!DOCTYPE html>
<html lang="en" ng-app="adminApp">

{{>partial-head}}

<body class="hold-transition login-page">
    <login-box class="login-box">
    </login-box>

    {{>partial-scripts}}
</body>

</html>