<!DOCTYPE html>
<html lang="en" ng-app="adminApp">

{{>partial-head}}

<body class="hold-transition login-page">

    <div class="lockscreen-logo">
        <img src="/logos/svg/filled-blue.svg" width="50%" style="max-width: 150px;">
    </div>

    <login-box class="login-box"></login-box>

    {{>partial-scripts}}

</body>

</html>