<!DOCTYPE html>
<html lang="en">

{{>partial-head}}

<body class="hold-transition lockscreen">

    <div class="lockscreen-wrapper">

        <h1 class="text-center">Premios Fans</h1>

        <h4 class="text-center">
            {{user.email}}
        </h4>

        <div class="lockscreen-name">
            Seu acesso não está autorizado
            {{#if error}}
            <br />
            <strong class="m-2" style="text-decoration: underline;color:red;">{{error}}</strong>
            {{/if}}
        </div>

        <div class="help-block text-center mt-2">
            <p>
                Verifique suas permissões com nossa equipe de Suporte
            </p>
            {{#if message}}
                <p>{{message}}</p>
            {{/if}}
            <code>{{user.uid}}</code>
        </div>

        <div class="lockscreen-footer text-center">
            <a href="/adm/login?clear" class="text-black">
                Efetuar Logout e tentar novamente
            </a>
        </div>
    </div>

    {{>partial-scripts}}
</body>

</html>