.formly{
    .nao-editavel input{
        opacity: 0.6;
    }
    .obs{
        font-size: 11px;
    }

    .email-lowercase input{
        text-transform: lowercase;
    }

    .form-custom{
        .is-invalid{
            input{
                color: var(--bs-danger);
            }
        }
    }

    .form-check label{
        position: initial;
        top: initial;
        opacity: 1;
        text-transform: initial;
        padding-right: initial !important;
        margin-left: 40px !important;
        font-size: 1.2em;
    }

    .radios .form-check-custom{
        margin-bottom: 10px;
        i{
            width: 24px;
            height: 24px;
            top: 1px;
            font-size: 18px;
        }
    } 

}
