<form
	ng-submit="submitAccountOpen()"
	class="content account-open-send m-0 mt-3"
	autocomplete="off"
	novalidate
>

	<account-details
		ng-if="ready && type==='pj'"
		type="pf"
		title="Responsável Financeiro"
		account-data="userData"
	></account-details>

	<account-details
		ng-if="ready && type==='pj'"
		type="pj"
		title="Conta de Pessoa Jurídica"
		account-data="accountData"
	></account-details>

	<account-details
		ng-if="ready && type==='pf'"
		type="pf"
		title="Conta de Pessoa Física"
		account-data="userData"
	></account-details>

	<div class="form-check form-check-custom m-0 mb-4">
		<input class="form-check-input" type="checkbox" name="type" value="" id="c2a">
		<label class="form-check-label" for="c2a">
			Declaro que os dados são fidedignos e a aceito os
			<a>
				Termos do Serviço
			</a>
		</label>
		<i class="is-checked color-green-dark font-14 bi bi-check-circle-fill"></i>
		<i class="is-unchecked color-green-dark font-14 bi bi-circle"></i>
	</div>

	<div class="row m-1">
		<div class="col-12">
			<button type="submit" class="btn btn-full gradient-highlight rounded-s shadow-bg shadow-bg-s">
				Solicitar Abertura de Conta
			</button>
		</div>
	</div>

</form>
