<section class="content entidades">

    <search-filter
        filter="filter"
        type="type"
    ></search-filter>
    
    <wait-overlay 
        ready="collectionEntidades.collection.isReady()"
        class="container-fluid"
    >
        <div class="row">

            <div ng-if="collectionEntidades.collection.isEmpty()" class="col-12">
                <div class="callout callout-warning">
                    <h5>Nenhum registro encontrado...</h5>
                </div>
            </div>

            <div class="col-12" ng-if="collectionEntidades.collection.data.length">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th class="cpf">CPF</th>
                                    <th class="cnpj">CNPJ</th>
                                    <th class="cpf-cnpj">CPF/CNPJ</th>
                                    <th class="nome">Nome</th>
                                    <th class="celular">Celular</th>
                                    <th class="email">Email</th>
                                    <th class="ativo right">Ativo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="c in collectionEntidades.collection.data">
                                    <td class="cpf">
                                        <a href="#" ng-click="edit(c)">
                                            {{c.cpf_formatted}}
                                        </a>
                                    </td>
                                    <td class="cnpj">
                                        <a href="#" ng-click="edit(c)">
                                            {{c.cnpj_formatted}}
                                        </a>
                                    </td>
                                    <td class="cpf-cnpj">
                                    </td>
                                    <td class="nome">
                                        {{c.nome}}
                                    </td>
                                    <td class="celular">
                                        {{c.celular_formatted}}
                                    </td>
                                    <td class="email">
                                        {{c.email}}
                                    </td>
                                    <td class="ativo right">
                                        <badge-true-false value="c.ativo"></badge-true-false>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </wait-overlay>

</section>