<div class="card sorteio-campanha-premios mb-0">
    <div class="card-header">
        <h3 class="card-title">
            Sorteio
            Nº
            {{posicao}}
            ~
            <small>Dia: </small>

            <input-date
                model="sorteio"
                field-name="dtSorteio"
                disabled="disabled"

            ></input-date>
            
        </h3>
        <div class="card-tools">

            <button
                ng-if="!campanha.ativo && !disabled && permitirInclusaoPremios()"
                type="button"
                ng-click="add()"
                class="btn btn-tool"
                uib-popover="Adicionar um novo prêmio"
            >
                <i class="fas fa-plus"></i>
                Adicionar Prêmio
            </button>

            <button
                ng-if="!disabled"
                type="button"
                class="btn btn-tool"
                uib-popover="Clonar o Sorteio"
                ng-click="clonarSorteio(sorteio)"
                ng-if="!campanha.ativo" 
            >
                <i class="fas fa-clone"></i>
            </button>

            <button
                ng-if="!disabled"
                type="button"
                class="btn btn-tool"
                uib-popover="Excluir o Sorteio"
                ng-click="removerSorteio(sorteio)"
                ng-if="!campanha.ativo" 
            >
                <i class="fas fa-trash"></i>
            </button>

            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>

        </div>
    </div>
    <div class="card-body p-3">
        <table
            class="table produtos-selector table-striped"
        >
            <thead>
                <tr>
                    <th class="center" style="width:50px;">#</th>
                    <th class="vl-liquido">Valor Líquido</th>
                    <th class="descricao">Descrição</th>
                    <th ng-if="!disabled" class="actions right"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in sorteio.premios | filter:{deleted:false} track by p.id">
                    <td class="center pt-2">
                        {{$index + 1}}
                    </td>

                    <td class="vl-liquido">
                        <input
                            type="tel"
                            ng-model="p.valor"
                            class="form-control right"
                            money-mask
                            select-on-click
                            ng-disabled="disabled"
                        >
                    </td>

                    <td class="">
                        <input
                            ng-model="p.descricao"
                            class="form-control"
                            type="text"
                            ng-disabled="disabled"
                        >
                    </td>
                    
                    <td ng-if="!disabled" class="actions right">
                        <a 
                            ng-if="!disabled"
                            href="#"
                            ng-click="up($index)"
                            uib-popover="Mover para cima"
                            ng-class="{
                                'disabled':$first,
                                'pointer-events':$first  ? 'none' : 'initial',
                                'cursor':$first ? 'not-allowed' : 'pointer'
                            }"
                        >
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </a>

                        <a
                            ng-if="!disabled"
                            href="#"
                            ng-click="down($index)"
                            uib-popover="Mover para baixo"
                            ng-class="{
                                'disabled':$last,
                                'pointer-events':$last ? 'none' : 'initial',
                                'cursor':$last ? 'not-allowed' : 'pointer'
                            }"
                        >
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </a>

                        <a
                            ng-if="!disabled"
                            href="#"
                            ng-if="!campanha.ativo && permitirInclusaoPremios()"
                            ng-click="clonePremio($index)"
                            uib-popover="Clonar este prêmio, criando um idêntico"
                            ng-class="{
                                'pointer-events':$last ? 'none' : 'initial'
                            }"
                        >
                            <i class="fa fa-clone" aria-hidden="true"></i>
                        </a>

                        <a
                            ng-if="!disabled"
                            href="#"
                            ng-if="!campanha.ativo"
                            ng-click="removerPremio(p)"
                            uib-popover="Excluir"
                        >
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>