.block-contracheque{
    
    table{
        .coluna{
            position: relative;
        }

        .descricao{
            width: 280px;
        }

        .pos{
            padding-top: 20px !important;
        }

        .custom-switch.obrigatorio{
            zoom: 1.2;
            position: absolute;
            right: 10px;
            top: 14px;
        }

        td.commands{
            width: 120px;
            text-align: right !important;
            padding-top: 20px;
            a{
                width: 30px;
                padding: 0;
                margin-left: 10px;
                display: initial;
            }
        }
    }
} 