<article id="form-cliente" class="pt-20 pb-20 mb-0 mt-5" style="display: none;">
    <hgroup class="mt-10">
        <h2>Informe seus dados</h2>
        <h3>
            Preenche direitinho, se não como vamos te encontrar quando você ganhar?
        </h3>
    </hgroup>
    <div class="row">
        <label class="col-md-6" for="nome">
            Nome *
            <input type="text" name="nome" placeholder="Nome completo">
        </label>

        <label class="col-md-6" for="email">
            Email *
            <input type="text" name="email" placeholder="Seu melhor email">
        </label>
    </div>

    <div class="row">
        <label class="col-md-6" for="celular">
            Celular *
            <input type="text" name="celular">
        </label>

        <label class="col-md-6" for="cpf">
            CPF *
            <input type="tel" name="cpf">
        </label>
    </div>

    <!--
    <div class="row">
        <label class="col-md-6" for="dtNascimento">
            Data de Nascimento *
            <input type="tel" name="dtNascimento">
        </label>

        <label class="col-md-6" for="cep">
            CEP Residencial *
            <input type="tel" name="cep">
        </label>
    </div>
    -->

    <fieldset>
        <label for="idade">
            <input type="checkbox" id="idade" name="idade">
            Declaro que tenho mais que 16 anos completos
        </label>
        <label for="termos">
            <input type="checkbox" id="termos" name="termos">
            Concordo com os Termos e Condições de Uso do Premios Fans
        </label>
    </fieldset>

</article>