<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        {{$ctrl.data.nome || 'Inclusão de Influencer'}}
    </h3>
</div>
<div class="modal-body" id="modal-body">

    <wait-overlay ready="$ctrl.ready">

        <form novalidate>
            <formly-form
                class="row"
                model="$ctrl.data"
                fields="$ctrl.fields"
                form="form"
                novalidate
            >
            </formly-form>
        </form>
        
        <uib-tabset active="activeJustified">
            <uib-tab index="0" heading="Contatos">
                <div class="row pt-2">
                    <form novalidate>
                        <formly-form class="row" model="$ctrl.data" fields="$ctrl.contatos" form="$ctrl.formContatos" novalidate>
                        </formly-form>
                    </form>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Fotos">
                <div class="row pt-2">
                    <image-gallery model="$ctrl.data.images" ratio="1:1" size="0,0" min-size="250,250"></image-gallery>
                </div>
            </uib-tab>
        </uib-tabset>

    </wait-overlay>

</div>
<div class="modal-footer" ng-if="$ctrl.ready">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" ng-if="!$ctrl.error">Salvar</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
</div>