<div class="account-error-details mt-1">

    <div class="d-flex">
        <h4 class="color-blue-dark mb-2">
            Problemas encontrados:
        </h4>
    </div>

    <div
        ng-if="!details"
        class="spinner-border color-highlight m-3"
        role="status"
    ></div>

    <ul
        ng-if="details"
        class="row mb-0"
    >
    
        <li 
            ng-if="!account.info.emailValidated"
            class="color-black mb-0"
        >
            O eMail do usuário não foi validado.
        </li>

        <li
            ng-if="details.dataValid.status!=='APPROVED'"
            class="color-black mb-0"
        >
            {{details.dataValid.message}}
        </li>

        <li
            ng-if="details.inovamind.status!=='APPROVED'"
            class="color-black mb-0"
        >
            {{details.inovamind.message}}
        </li>

        <li
            class="color-black mb-0"
            ng-if="details.resolvRisk.status!=='APPROVED'"
        >
            {{details.resolvRisk.message}}
        </li>
    
    </div>

</div>