<section class="content folha importacao-funcionarios">

    <search-filter></search-filter>

    <wait-overlay ready="ready" class="container-fluid">

        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Arquivo e Página</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="exampleInputFile">
                                    Selecione o Arquivo para Importação
                                    <small>(Extensão Excel: XLS ou XLSX)</small>
                                </label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" id="xlsxFile" class="custom-file-input" accept=".xls,.xlsx" onchange="angular.element(this).scope().fileSelected(event)">
                                        <label class="custom-file-label" for="xlsxFile">
                                            <span ng-if="!fileConfig.file">Procurar Arquivo</span>
                                            <span ng-if="fileConfig.file">{{fileConfig.file}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="pages.length" class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
                                <label>Selecione a Página a ser utilizada</label>
                                <select ng-model="fileConfig.page" ng-change="pageSelected()" class="form-control">
                                    <option ng-repeat="p in pages" value="{{p}}">{{p}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="fileConfig.columns.length" class="col-12">
                <div id="card-colunas" class="card">
                    <div class="card-header">
                        <h3 class="card-title">Defina as colunas do Arquivo</h3>
                        <div class="card-tools">
                            <button ng-click="showColumnsCard=!showColumnsCard" type="button" class="btn btn-tool">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div ng-show="showColumnsCard" class="card-body p-0">
                        <div class="m-3">
                            <label>Informe o campo relacionado à cada coluna a ser importada e clique em <strong>Validar Dados</strong>.</label>
                            <p class="mb-0">Apenas os campos <strong>CPF</strong>, <strong>Nome</strong>, <strong>Celular</strong> e <strong>eMail</strong> podem ser importados, sendo que o <strong>CPF</strong> é indispensável.<br />As informações completas serão informadas pelo funcionário no momento da abertura da
                                conta.</p>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Título da Coluna</th>
                                    <th>1ª Linha</th>
                                    <th>2ª Linha</th>
                                    <th>Campo do Funcionário</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="c in fileConfig.columns" ng-class="{'is-invalid':isInvalid(c.campoZoepay)}">
                                    <td class="p-3">{{$index + 1}}</td>
                                    <td class="p-3">{{c.campoPlanilha}}</td>
                                    <td class="p-3">{{linha($index,1)}}</td>
                                    <td class="p-3">{{linha($index,2)}}</td>
                                    <td class="p-2">
                                        <select ng-model="c.campoZoepay" class="form-control">
                                            <option ng-repeat="p in fileConfig.zoeColumns" value="{{p.value}}">
                                                {{p.label}}
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="showColumnsCard" class="card-footer">
                        <button ng-click="validate()" class="btn btn-primary float-right">
                            Validar Dados
                        </button>
                    </div>
                </div>
            </div>

            <div ng-show="fileConfig.data.length" class="col-12">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Válidos/Inválidos</h3>
                            </div>
                            <div class="card-body">
                                <canvas id="pieChartStatus" style="min-height: 175px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Erros<small>: {{fileConfig.status.invalidos}} registro(s)</small>
                                </h3>
                            </div>
                            <div class="card-body">
                                <canvas id="pieChartErros" style="min-height: 175px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Executar importação
                                </h3>
                            </div>
                            <div class="card-body" style="min-height: 215px;">

                                <div ng-if="fileConfig.status.validos>0" class="m-2 mr-4">
                                    <button ng-click="send()" type="button" class="btn btn-block btn-info btn-lg m-2">
                                        <i class="fa fa-cloud-upload"></i>
                                        Importar<br />
                                        <small>{{fileConfig.status.validos}} registro(s)</small>
                                    </button>
                                </div>

                                <address class="pt-2 m-0" ng-if="fileConfig.status.invalidos>0">
                                    <strong>Atenção</strong><br>
                                    Apenas os registros <strong>válidos</strong> serão importados.
                                </address>

                                <address class="pt-2 m-0" ng-if="fileConfig.status.validos===0">
                                    <strong>Não é possível importar</strong><br>
                                    Nâo existe nenhum registro válido a ser importado.
                                </address>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header p-2 pr-3">
                        <h3 class="card-title mt-1 ml-2">Dados da Planilha</h3>
                        <div class="card-tools">

                            <div class="btn-group btn-group-sm" role="group">
                                <button
                                    id="btnFilter"
                                    type="button"
                                    class="btn btn-default dropdown-toggle"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    <span ng-if="fileConfig.filters.showValidos && fileConfig.filters.showInvalidos">Todos os registros</span>
                                    <span ng-if="fileConfig.filters.showValidos && !fileConfig.filters.showInvalidos">Apenas registros Válidos</span>
                                    <span ng-if="!fileConfig.filters.showValidos && fileConfig.filters.showInvalidos">Apenas registros Inválidos</span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnFilter">
                                    <li><a ng-click="(fileConfig.filters.showValidos = true) && (fileConfig.filters.showInvalidos = true)" class="dropdown-item" href="#">Exibir todos os registros</a></li>
                                    <li><a ng-click="(fileConfig.filters.showValidos = true) && (fileConfig.filters.showInvalidos = false)" class="dropdown-item" href="#">Exibir apenas os registros válidos</a></li>
                                    <li><a ng-click="(fileConfig.filters.showValidos = false) && (fileConfig.filters.showInvalidos = true)" class="dropdown-item" href="#">Exibir apenas os registros inválidos</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>CPF*</th>
                                    <th>Nome</th>
                                    <th>Celular</th>
                                    <th>eMail</th>
                                    <th>Erro</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="d in getData(fileConfig.filters.showValidos,fileConfig.filters.showInvalidos)">
                                    <td>
                                        {{$index + 1}}
                                    </td>
                                    <td>
                                        <span ng-if="d.cpf_isValid">{{d.cpf_formatted}}</span>
                                        <span ng-if="!d.cpf_isValid" class="invalid">{{d.cpf}}</span>
                                    </td>
                                    <td>
                                        <span ng-if="d.nome" ng-class="{invalid:!d.nome_isValid}">{{d.nome}}</span>
                                    </td>
                                    <td>
                                        <span ng-if="d.celular && d.celular_isValid">{{d.celular_formatted}}</span>
                                        <span ng-if="d.celular && !d.celular_isValid" class="invalid">{{d.celular}}</span>
                                    </td>
                                    <td>
                                        <span ng-if="d.email" ng-class="{invalid:!d.email_isValid}">
                                            {{d.email}}
                                        </span>
                                    </td>
                                    <td>
                                        <ul class="m-0 list-unstyled">
                                            <li ng-if="!d.cpf_isValid">CPF Inválido</li>
                                            <li ng-if="d.nome && !d.nome_isValid">Nome Inválido</li>
                                            <li ng-if="d.celular && !d.celular_isValid">Celular Inválido</li>
                                            <li ng-if="d.email && !d.email_isValid">eMail Inválido</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </wait-overlay>
</section>