<section class="content m-0 profile">
	<div class="card card-style overflow-visible mt-5">
		<div class="mt-n5"></div>

		<h1 class="color-theme text-center font-30 pt-3 mb-0">
			Alexandra
		</h1>

		<p class="text-center font-11">
			<i class="bi bi-check-circle-fill color-green-dark pe-2"></i>
			Verified Account Holder
		</p>

		<div class="content mt-0 mb-2">
			<div class="list-group list-custom list-group-flush list-group-m rounded-xs">
				<a href="#" class="list-group-item" data-bs-toggle="offcanvas" data-bs-target="#menu-information">
					<i class="bi bi-person-circle"></i>
					<div>Information</div>
					<i class="bi bi-chevron-right"></i>
				</a>
				<a href="page-activity.html" class="list-group-item">
					<i class="bi bi-bell-fill"></i>
					<div>Notifications</div>
					<span class="badge rounded-xl">3</span>
				</a>
				<a href="page-payments.html" class="list-group-item">
					<i class="bi bi-credit-card"></i>
					<div>Your Payments</div>
					<i class="bi bi-chevron-right"></i>
				</a>
				<a href="page-reports.html" class="list-group-item">
					<i class="bi bi-bar-chart-fill"></i>
					<div>Your Statistics</div>
					<i class="bi bi-chevron-right"></i>
				</a>
				<a href="#" class="list-group-item" data-bs-toggle="offcanvas" data-bs-target="#menu-highlights">
					<i class="bi bi-droplet-fill"></i>
					<div>Color Scheme</div>
					<i class="bi bi-chevron-right"></i>
				</a>
			</div>
		</div>
	</div>

</section>
