<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        {{$ctrl.data.nome || $ctrl.config.type.addMsg}}
    </h3>
</div>
<div class="modal-body" id="modal-body">

    <wait-overlay ready="$ctrl.ready">

        <form novalidate>
            <formly-form
                class="row"
                model="$ctrl.data"
                fields="$ctrl.forms.main.fields"
                form="$ctrl.forms.main.form"
                novalidate
            >
            </formly-form>
        </form>

        <ul
            class="nav nav-tabs"
            role="tablist"
        >

            <li class="nav-item">
                <a
                    id="tab-content-contato-tab"
                    data-bs-target="#tab-content-contato"
                    aria-controls="tab-content-contato-tab"
                    class="nav-link active"
                    data-bs-toggle="tab"
                    role="tab"
                    aria-selected="true"
                >
                    Contatos
                </a>
            </li>

            <li class="nav-item">
                <a
                    id="tab-content-endereco-tab"
                    data-bs-target="#tab-content-endereco"
                    aria-controls="tab-content-endereco-tab"
                    class="nav-link"
                    data-bs-toggle="tab"
                    role="tab"
                    aria-selected="true"
                >
                    Endereço
                </a>
            </li>

            <li 
                ng-if="$ctrl.forms.documentos.fields.length"
                class="nav-item"
            >
                <a
                    id="tab-content-documentos-tab"
                    data-bs-target="#tab-content-documentos"
                    aria-controls="tab-content-documentos-tab"
                    class="nav-link"
                    data-bs-toggle="tab"
                    role="tab"
                    aria-selected="true"
                >
                    Documentos
                </a>
            </li>

        </ul>

        <div class="tab-content">

            <div
                ng-if="$ctrl.ready"
                id="tab-content-contato"
                aria-labelledby="tab-content-contato-tab"
                class="tab-pane fade pt-3 show active"
                role="tabpanel"
            >
                <form novalidate>
                    <formly-form
                        class="row"
                        model="$ctrl.data"
                        fields="$ctrl.forms.contatos.fields"
                        form="$ctrl.forms.contatos.form"
                        novalidate
                    >
                    </formly-form>
                </form>
            </div>

            <div
                ng-if="$ctrl.ready"
                id="tab-content-endereco"
                aria-labelledby="tab-content-endereco-tab"
                class="tab-pane fade pt-3"
                role="tabpanel"
            >
                <block-endereco
                    ng-model="$ctrl.data"
                    prefixo="endereco_"
                >
                </block-endereco>
            </div>

            <div
                ng-if="$ctrl.ready && $ctrl.forms.documentos.fields.length"
                id="tab-content-documentos"
                aria-labelledby="tab-content-documentos-tab"
                class="tab-pane fade pt-3"
                role="tabpanel"
            >
                <form novalidate>
                    <formly-form
                        class="row"
                        model="$ctrl.data"
                        fields="$ctrl.forms.documentos.fields"
                        form="$ctrl.forms.documentos.form"
                        novalidate
                    >
                    </formly-form>
                </form>
            </div>

        </div>

    </wait-overlay>

</div>
<div class="modal-footer" ng-if="$ctrl.ready">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" ng-if="!$ctrl.error">Salvar</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
</div>