<section ng-if="ready && accounts().length" class="content account-choose-type">

	<div ng-if="ready && accounts().length" class="content my-0 mt-n2 px-1">
		<div class="d-flex">
			<div class="align-self-center">
				<h2 class="font-16 color-white mb-2">
					Contas existentes
				</h2>
			</div>
		</div>
	</div>

	<div ng-if="ready" ng-repeat="account in accounts()" class="card card-style account m-0 mt-2">
		<div class="content">

			<p class="color-highlight font-15 font-400 mb-n1">
				<span ng-if="account.type==='pf'">
					Pessoa Física
				</span>
				<span ng-if="account.type==='pj'">
					Pessoa Jurídica
				</span>
			</p>

			<h4 class="font-18 mt-1 mb-0">{{(account.nomeFantasia || account.displayName) | capitalize}}</h4>

			<div class="row mb-2 mt-2">

				<h5 ng-if="account.type === 'pj'" class="col-4 text-start font-15">CNPJ</h5>
				<h5 ng-if="account.type === 'pj'" class="col-8 text-end font-15 opacity-60 font-400">
					{{::account.cnpj_formatted}}
				</h5>

				<h5 ng-if="account.type === 'pf'" class="col-4 text-start font-15">CPF</h5>
				<h5 ng-if="account.type === 'pf'" class="col-8 text-end font-15 opacity-60 font-400">
					{{::account.cpf | formatCPF}}
				</h5>

				<h5 ng-if="account.type === 'pj'" class="col-4 text-start font-15">Nome</h5>
				<h5 ng-if="account.type === 'pj'" class="col-8 text-end font-15 opacity-60 font-400">
					{{::account.nome}}
				</h5>

				<h5 ng-if="account.type === 'pf'" class="col-4 text-start font-15">Nascimento</h5>
				<h5 ng-if="account.type === 'pf'" class="col-8 text-end font-15 opacity-60 font-400">
					{{::account.dtNascimento}}
				</h5>

				<h5 class="col-4 text-start font-15">Situação</h5>
				<h5 ng-if="account.cartos_finalStatus" class="col-8 text-end font-14 font-400">
					<span class="px-2 rounded-s" ng-class="{
							'bg-green-dark':account.cartos_finalStatus === cartos.status.approved,
							'bg-red-dark':account.cartos_finalStatus !== cartos.status.approved,
						}">
						{{account.cartos_finalStatus}}
					</span>
				</h5>

				<h5 ng-if="!account.cartos_finalStatus" class="col-8 text-end font-14 font-400">
					<span class="bg-blue-dark px-2 rounded-s">
						NÃO SOLICITADA
					</span>
				</h5>

				<h5 ng-if="isLocalHost && account.cartos_peopleId" class="col-12 mt-1 text-end font-15 opacity-60 font-400">
					{{::account.cartos_peopleId}}
				</h5>

			</div>

			<a ng-if="account.cartos_finalStatus === cartos.status.approved" ng-href="/account-info/{{account.cartos_personId}}" class="btn btn-full gradient-highlight shadow-bg shadow-bg-xs">
				Ver Dados da Conta
			</a>

			<a ng-if="account.cartos_finalStatus !== cartos.status.approved" ng-href="#!/account-open/{{account.type}}/{{account.id}}" class="btn btn-full gradient-red shadow-bg shadow-bg-xs">
				Continuar Abertura da Conta
			</a>

		</div>
	</div>

</section>

<section class="content account-choose-type pt-2" style="margin-right:0;">

	<div ng-if="ready">

		<div ng-if="!hasAccountPF()" class="card card-style new-account ms-n3 ps-3" style="background-image: url(https://picsum.photos/seed/x/700/466?blur=5);">
			<a ng-href="#!/account-open/pf/{{profile.cpf}}" class="content ps-1">
				<div class="d-flex">
					<div>
						<h3 class="color-white" ng-if="!account.accounts.pf.status">
							Nova Conta Pessoa Física
						</h3>
					</div>
					<div class="align-self-center ms-auto">
						<i class="bi bi-arrow-right-circle-fill font-24 color-blue-dark"></i>
					</div>
				</div>

				<p class="mb-0 color-white">
					Complete seus dados e solicite sua conta de Pessoa Física
				</p>
			</a>
		</div>

		<div class="card card-style ms-n3 new-account ps-3" style="background-image: url(https://picsum.photos/seed/152/700/466?blur=5);">
			<a ng-href="#!/account-open/pj/{{newPJ}}" class="content ps-1">
				<div class="d-flex">
					<div>
						<h3 class="color-white" ng-if="!account.accounts.pj.status">
							Nova Conta Pessoa Jurídica
						</h3>
					</div>
					<div class="align-self-center ms-auto">
						<i class="bi bi-arrow-right-circle-fill font-24 color-blue-dark"></i>
					</div>
				</div>
				<p class="mb-0 color-white">
					Complete seus cadastro, informe os dados da sua empresa e solicite sua conta de Pessoa Jurídica.
				</p>
			</a>
		</div>

	</div>

</section>