<form
	ng-if="ready"
	ng-submit="save()"
	class="content account-open-user"
	autocomplete="off"
	novalidate
>

	<div class="card card-style m-0">
		<div class="content">
			<h4 class="color-blue-dark mb-3">Responsável Financeiro</h4>
			<formly-form
				model="forms.user.model"
				fields="forms.user.fields"
				form="forms.user.form"
				novalidate
			>
			</formly-form>
			<p ng-if="cartosUser">
				* As informações do responsável financeiro já existem e não podem ser alteradas.<br />
				Caso seja necessário corrigir os dados por favor entre em contato com o nosso Atendimento.
			</p>
		</div>
	</div>

	<div class="card card-style m-0 mt-3">
		<div class="content">
			<h4 class="color-blue-dark mb-3">Endereço Residencial</h4>
			<block-endereco
				ng-model="forms.user.model"
				prefix="endereco_"
			>
			</block-endereco>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-12">
			<button type="submit" class="btn btn-full gradient-highlight rounded-s shadow-bg shadow-bg-s">
				Salvar
			</button>
		</div>
	</div>

</form>