.influencers-campanha-list-add-modal tr{
    cursor: pointer;
}

.influencers-campanha-list-add-modal .img{
    width: 0;
    padding: 0 0 0 20px;
}

.influencers-campanha-list-add-modal table .actions{
    width: 20px;
}
