<div class="modal-header">
    <h4 class="modal-title" id="modal-title">
        Pesquise no Pexels ou faça upload da sua própria imagem
    </h4>
</div>

<div class="modal-body" id="modal-body">

    <div
        class="slim"
        id="image-chooser-modal-slim"
    >
        <img src="../../../assets/imgs/addphoto.jpg" alt="slim" />
        <input type="file" name="slim[]" accept="image/*" style="display: none;" />
    </div>

    <uib-tabset active="activeJustified">
        <uib-tab index="0" heading="Pexels">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <search-pexels delegate='$ctrl.searchPexelsDelegate'>
                    </search-pexels>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Upload">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <h3 class="my-3">Faça upload da sua própria imagem</h3>
                    <p>Clique no botão abaixo para fazer upload da sua própria imagem ou tirar uma foto com sua camera.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
                    <button ng-click="$ctrl.upload()" type="button" class="btn btn-primary btn-block">
                        <i class="fas fa-upload mr-1"></i>
                        Escolher Imagem
                    </button>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

</div>

<div class="modal-footer">
    <button
        class="btn btn-primary"
        type="button"
        ng-click="$ctrl.cancel()"
    >
        Voltar
    </button>
</div>