<section class="content api-config">
    <wait-overlay ready="collectionApiConfig.collection.isReady()" class="container-fluid">
        <div class="row">

            <div ng-if="collectionApiConfig.collection.isEmpty()" class="col-12">
                <div class="callout callout-warning">
                    <h5>Nenhum registro encontrado...</h5>
                </div>
            </div>

            <div class="col-12" ng-if="collectionApiConfig.collection.data.length">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th class="descricao">Descrição</th>
                                    <th class="empresa">Empresa</th>
                                    <th class="ativo center">Ativo</th>
                                    <th class="ativo center">Gateway Only</th>
                                    <th class="sandbox center">SandBox</th>
                                    <th class="dt-alteracao right">Dt. Alteração</th>
                                    <th class="actions"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="c in collectionApiConfig.collection.data">
                                    <td class="descricao">
                                        <a class="descricao" href="#" ng-click="edit(c)">
                                            {{c.descricao}}
                                        </a>
                                    </td>
                                    <td class="empresa firestore-reference" ref="c.idEmpresa_reference" field="nome">
                                    </td>
                                    <td class="ativo center">
                                        <badge-true-false value="c.ativo"></badge-true-false>
                                    </td>
                                    <td class="gateway-only center">
                                        <badge-true-false value="c.gatewayOnly"></badge-true-false>
                                    </td>
                                    
                                    <td class="sand-box center">
                                        <badge-true-false value="c.sandbox"></badge-true-false>
                                    </td>
                                    <td class="dt-alteracao right">
                                        {{c.dtAlteracao | ddmmyyyyhhmm}}
                                    </td>
                                    <td class="actions right mr-1">
                                        <a href="#" ng-click="delete(c)" class="mr-2" uib-popover="Excluir registro">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </wait-overlay>
</section>