<form
	ng-if="ready"
	ng-submit="save()"
	class="content m-3 account-open-company"
	autocomplete="off"
	novalidate
>

	<p class="color-white">
		Informe corretamente os dados da sua empresa para solicitação de abertura da conta de <strong>Pessoa Jurídica</strong>.
	</p>

	<div class="card card-style m-0">
		<div class="content">
			<h4 class="mb-3 color-blue-dark">Dados da sua Empresa</h4>
			<formly-form
				model="forms.empresa.model"
				fields="forms.empresa.fields"
				form="forms.empresa.form"
				novalidate
			>
			</formly-form>
		</div>
	</div>

	<div class="card card-style m-0 mt-3">
		<div class="content">
			<h4 class="mb-3 color-blue-dark">Endereço da Empresa</h4>
			<block-endereco
				ng-model="forms.empresa.model"
				prefix="endereco_"
			>
			</block-endereco>
		</div>
	</div>
	
	<div
		class="row mt-4"
	>
		<div class="col-12">
			<button type="submit" class="btn btn-full gradient-highlight rounded-s shadow-bg shadow-bg-s">
				Enviar
			</button>
		</div>
	</div>

</form>
