<section class="content chaves-pix">

	<search-filter></search-filter>

	<wait-overlay ready="user" class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body p-0">
						<table class="table table-striped projects">
							<thead>
								<tr>
									<th style="width: 35%;min-width: 360px;">
										Chave
									</th>
									<th style="width: 35%">
										Conta
									</th>
									<th class="center" style="width: 10%">
										Situação
									</th>
									<th style="width: 15%">
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="c in collectionChavesPix.collection.data">
									<td class="">
										<span class="monospace">{{c.chave}}</span>
										<br />
										<span class="badge bg-info">
											{{c.tipo | upperCase}}
										</span>
									</td>
									<td>
										{{c.nome | capitalize}}

										<!--
										<collection-value
											collection="contas"
											field="conta"
											doc-id="c."
										></collection-value>
										-->

										<br />
										
										<small class="mr-2 monospace">
											{{c.cpf_cnpj | cpfCnpj}}
										</small>
										<br />
										<strong class="monospace">
											{{c.conta}}
										</strong>
									</td>
									<td class="center">
										<span ng-if="c.situacao==='at'" class="badge bg-success">Ativo</span>
										<span ng-if="c.situacao==='as'" class="badge bg-warning">Processando</span>
										<span ng-if="c.situacao==='in'" class="badge bg-danger">Inválido</span>
									</td>
									<td class="project-actions text-right">
										<a class="btn btn-primary btn-sm mt-1" href="#">
											<i class="fas fa-qrcode"></i>
										</a>
										<a class="btn btn-danger btn-sm mt-1" href="#">
											<i class="fas fa-trash"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</wait-overlay>
</section>