<script type="text/ng-template" id="selector/contrato/item-template">
	<strong ng-if="option.id === 'avulso'">Avulso</strong>
	<span ng-if="option.id !== 'avulso'">
        {{option.idPlano_reference.nome}} 
        <small ng-if="option.idPlano_reference.sigla">
            ({{option.idPlano_reference.sigla}})
        </small>
        -
        <small>Início</small>
        {{option.dtInicioContrato}}
    </span>
    <span class="badge bg-success" ng-if="option.id !== 'avulso' && option.idPlano_reference.ativo">Ativo</span>
    <span class="badge bg-danger" ng-if="option.id !== 'avulso' && !option.idPlano_reference.ativo">Inativo</span>
</script>

<div
    class="form-group ng-selector-contrato"
    style="height: 38px;"
>
    <select
        selector
        disable="!ready"
        model="model[options.key]"
        multi="false"
        label-attr="id"
        value-attr="id"
        options="data"
        view-item-template="'selector/contrato/item-template'"
        dropdown-item-template="'selector/contrato/item-template'"
        change="changed(newValue,oldValue)"
    ></select>
</div>
