<section class="content cartos-admin">
    <search-filter></search-filter>
    <wait-overlay
        ready="collectionCartosServiceUserCredentials.collection.isReady()"
        class="container-fluid"
    >
        <div class="row mt-4">
            <div ng-repeat="c in collectionCartosServiceUserCredentials.collection.data" class="col-12">
                <block-cartos-admin
                    service-user-credential="c"
                ></block-cartos-admin>
            </div>
        </div>
    </wait-overlay>
</section>