<section class="content contratos-edit">

    <search-filter title="title"></search-filter>

    <wait-overlay
        ready="ready"
        class="container-fluid"
    >
        <div 
            class="row"
        >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="mr-1 {{titles.clientes.icon}}"></i>
                            Cliente
                        </h3>
                    </div>

                    <div class="card-body p-3">
                        <form novalidate>
                            <formly-form
                                ng-if="forms.main"
                                class="row"
                                model="contrato"
                                fields="forms.main.fields"
                                form="forms.main.form"
                                novalidate
                            >
                            </formly-form>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="mr-1 {{titles.cobrancas.icon}}"></i>
                            Perfil da Cobrança
                        </h3>
                    </div>

                    <div class="card-body p-3">
                        <form novalidate>
                            <formly-form
                                ng-if="forms.cobranca"
                                class="row"
                                model="contrato"
                                fields="forms.cobranca.fields"
                                form="forms.cobranca.form"
                                novalidate
                            >
                            </formly-form>
                        </form>
                    </div>
                </div>
            </div>

            <produtos-selector
                class="p-2"
                produtos="contrato.produtos"
                disable="!edit"
            ></produtos-selector>

            <div
                ng-if="contrato.id && !edit"
                class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <lancamentos-contrato contrato="contrato">
                </lancamentos-contrato>
            </div>            

            <div ng-if="edit" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <simulador-cobrancas
                    contrato="contrato"
                >
                </simulador-cobrancas>
            </div>
        </div>
    </wait-overlay>
</section>